{{#if msg_success}}
    <div class="alert alert-info">{{msg_success}}</div> <!-- avem acces pt ca in app am setat var globala res.locals.msg_success -->
{{/if}}

{{#if msg_error}}
    <div class="alert alert-danger">{{msg_error}}</div>
{{/if}}